<h1>{{title}}</h1>

<table class="table" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>is active</th>
            <th>is closed</th>
        </tr>
    </thead>
    
    <tbody>
       <tr *ngIf="isLoading">
            <td colspan="100%">Loading</td>
        </tr>
        <tr *ngFor='let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber, totalItems: total }'>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_active }}</td>
            <td>{{ user.is_closed }}</td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>